* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 16px 300 monospace; }
#buttons {
  width: 80%;
  margin: 2em auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  width: 100px;
  height: 50px;
  font-size: 1.25em;
  background: #69B;
  color: #EEF;
  border:none;
}
